h1{
padding-left: 27em;
font-family: ubuntu;  
}
:root{
    --cor-pendentes:#8FD14F;
    --cor-concluidas:#0CA789;
    --cor-excluidas:#EB4045;
    --cor-texto: white;
}

a{
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.Pendentes{
    background-color: var(--cor-pendentes);
    border-radius: 20px;
    border: 2px;
    color: var(--cor-texto);
    margin: 5px;
}
    
.Concluídas{
    background-color: var(--cor-concluidas);
    border-radius: 20px;
    color: var(--cor-texto);
    margin: 5px;
}

.Excluídas{
    background-color: var(--cor-excluidas);
    border-radius: 20px;
    color: var(--cor-texto);
    margin: 5px;
}

ul {
    text-align: center;
    font-family: ubuntu;
}

div{
    padding: 2px;
    margin: 50px;

}

div:hover{
    transform: scale(1.1);
}

.tarefa{
    width: 30em;
    border-radius: 15px;
    border: 2px #8FD14F solid;
    margin: 15px;
    margin-left: 43.3em;
    text-align: center;
    text-decoration: none;
    font-family: ubuntu;
    color: white;
    background-color: var(--cor-pendentes);
    transition: 0.2s ease-in-out;
}

.tarefa:nth-child(even){
    background-color: white;
    color: gray;
}

.concluida{
    width: 30em;
    border-radius: 15px;
    border: 2px #0CA789 solid;;
    margin: 15px;
    margin-left: 43.3em;
    text-align: center;
    text-decoration: none;
    font-family: ubuntu;
    color: white;
    background-color: var(--cor-concluidas);
    transition: 0.2s ease-in-out;
}

.concluida:nth-child(even){
    background-color: white;
    border: 2px color white;
    color: gray;
}

.excluida{
    width: 30em;
    border-radius: 15px;
    border: 2px #EB4045 solid;
    margin: 15px;
    margin-left: 43.3em;
    text-align: center;
    text-decoration: none;
    font-family: ubuntu;
    color: white;
    background-color: var(--cor-excluidas);
    transition: 0.2s ease-in-out;
}

.excluida:nth-child(even){
    background-color: white;
    border: 2px color white;
    color: gray;
}


.tarefa, .excluida, .concluida {

    animation: transicao 0.75s;


}

@keyframes transicao {
    from {
            opacity: 0;
            transform: rotateY(-10px);


    }

    to {
        opacity: 1;
        transform: rotateY(0);

    }
}